.bg-img
{
opacity:100%;
position:fixed;
background-size: contain;
}
.fw-light {
    position: relative;
    color:rgb(7, 5, 7);
    background-color: thistle;
    
}
.lead{
    position: relative;
    color:rgb(7, 5, 7);
    background-color: thistle;
}
