<div class="app-warp"><img [src]="bgshowall" class="bg-img"></div>
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Users lists</h1>
          <p class="lead text-muted">List Of All Users In this Site(Dashbord admin)</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" *ngFor="let u of usersList">
            <div class="card shadow-sm">
              
  
              <div class="card-body">
                <h3>{{ u.Name }}</h3>
                <p class="card-text">{{ u.ville}} [...]</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" routerLink="/showall/{{u.Name}}"  class="btn btn-sm btn-outline-secondary"><i
                        class="bi bi-zoom-in"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><i
                        class="bi bi-cart-plus"></i></button>
                  </div>
                  <small class="text-muted">{{ u.tel }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>