<div class="app-warp"><img [src]="bgshow" class="bg-img"></div>

  <form class="finduserform">
    <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup"><h5>Username</h5></label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{ users?.pseudo }}">
        </div>
      </div>
    <div class="row">
      <div class="col">
        <label class="sr-only" for="inlineFormInputGroup"><h5>Name</h5></label>
        <input type="text" class="form-control" placeholder="{{ users?.Name }}">
        <br>
        <label class="sr-only" for="inlineFormInputGroup"><h5>Ville</h5></label>
        <input type="text" class="form-control" placeholder="{{ users?.ville }}">
      </div>
      <div class="col">
        <label class="sr-only" for="inlineFormInputGroup"><h5>Email</h5></label>
        <input type="text" class="form-control" placeholder="{{ users?.email}}">
        <br>
        <label class="sr-only" for="inlineFormInputGroup"><h5>Telephone</h5></label>
        <input type="text" class="form-control" placeholder="{{ users?.tel}}">
      </div>
    </div>
</form>