<div class="app-warp"><img [src]="bg" class="bg-img"></div>
<div class="input-group">
  <input type="number" placeholder="  *   *   *  " class="mat1" style=" padding-bottom: 10px;" min="1" max="999" maxlength="3">
  <h1 class="tn">.    TN    .</h1>
  <input type="number" placeholder="   *    *     *    *   " class="mat2" style=" padding-bottom: 10px;" min="1" max="999" maxlength="3">
  <button id="btnfind" type="button" class="btn btn-outline-secondary" routerLink="/showall">Find The Car</button>
</div>
<div class="text-center">
</div>