.bg-img
{
opacity:100%;
position:fixed;
background-size: contain;
}
.input-group .botton{
position: absolute;
}
.tn{
    color:white;
}

.input-group{
    
    position: absolute;
    padding-top: 100px;
    padding-left: 350px;
    padding-right: 200px;
    
    margin: 250px;
    
}



.mat1{
    background-color:rgba(0,0,0,0);
    font-size:24px;
    color: white;
    width: 80px;
    top: 12px;
    border-radius: 10px;
    font-weight:bold;


}
.mat2{

    background-color:rgba(0,0,0,0);
    font-size:24px;
    color: white;
    width: 100px;
    top: 12px;
    border-radius: 10px;
    font-weight:bold;
    
}

