.bg-img
{
opacity:100%;
position:fixed;
background-size: contain;
}
.input-group .botton{
position: absolute;
height: 60px;
}
.input-group{
    
    position: absolute;
    padding-top: 100px;
    padding-left: 480px;
    
    margin: 250px;
    
}

.mat1{
    background-color:rgba(0,0,0,0);
    width: 150px;
    height: 60px;
    font-size:24px;
    color: white;
    border-radius: 15px;
    font-weight:bold;


}

.mat2{

    background-color:rgba(0,0,0,0);
    font-size:24px;
    color: white;
    width: 200px;
    height: 60px;
    top: 12px;
    border-radius: 10px;
    font-weight:bold;
    
}
.tn{
    color:white;
}


